ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
vyper 0.3.7 requires asttokens==2.0.5, but you have asttokens 2.2.1 which is incompatible.
mythx-models 1.9.1 requires python-dateutil==2.8.1, but you have python-dateutil 2.8.2 which is incompatible.
eth-brownie 1.19.2 requires asttokens==2.0.5, but you have asttokens 2.2.1 which is incompatible.
eth-brownie 1.19.2 requires packaging==21.3, but you have packaging 22.0 which is incompatible.
eth-brownie 1.19.2 requires platformdirs==2.5.2, but you have platformdirs 2.6.0 which is incompatible.
eth-brownie 1.19.2 requires prompt-toolkit==3.0.31, but you have prompt-toolkit 3.0.36 which is incompatible.
eth-brownie 1.19.2 requires psutil==5.9.2, but you have psutil 5.9.4 which is incompatible.
eth-brownie 1.19.2 requires python-dateutil==2.8.1, but you have python-dateutil 2.8.2 which is incompatible.